/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: "Lato", sans-serif;
  color:#777;
  line-height: 1.7;
  font-weight: 400;
  font-size: 16px;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 131, 0.8)),
  url('../img/hero.jpg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
}

.heading-primary {
  color:#ffffff;
  text-transform: uppercase;
}

.heading-primary-main,
.heading-primary-sub {
  display:block;

}

.heading-primary-main {
  font-size:60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation:moveInLeft 1s ease-out;
}

.heading-primary-sub {
  font-size: 20px;
  letter-spacing: 17.4px;
  font-weight: 700;
  animation:moveInRight 1s ease-out;
}

@keyframes moveInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    80% {
      transform: translateX(10px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    80% {
      transform: translateX(-10px);
    }

    100% {
      opacity: 1;
      transform: translate(0);
    }
}
